
body {
	background-image: url("/img/rsz_11rsz_d739bf6403.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    margin: 20px;
}

#timer {
	margin-left: 20px;
}

.seconds, .play {
	background-color: grey;
	color: white;
	height: auto;
	margin: 5px;
}


.score {
		box-shadow: rgba(0,0,0,0.50) 0 -1px 10px 0;
		margin: 10px;
	}