

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    margin: 20px;
}

.seconds, #play, .choice {
	background-color: navy;
	color: white;
	height: auto;
	margin: 5px;
}


.score {
		box-shadow: rgba(0,0,0,0.50) 0 -1px 10px 0;
	}